* {
    box-sizing: border-box;
}

html, body {
    height: 99%;
    overflow-x: hidden;
}

body {
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
}

#TitleText {
    text-align: center;
    font-size: 3.75rem;
    margin-top: 20px;
    margin-bottom: 24px;
    font-family: "BBH Bogle", system-ui;
    font-weight: 395;
}

.AllWorkoutInfo {
    display: block;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 6px solid black;
    border-radius: 15px;
    background-color: #b6b6b6;
}

.MainInfoContainer {
    display: grid;
    column-gap: 5vw;
    row-gap: 2.5vw;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.WorkoutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-width: 0;
}

.WorkoutInput {
    width: 100%;
    height: 50px;
    border-width: 3px;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
}

.WorkoutDropdown {
    width: 60%;
    font-size: 1.35rem;
    text-align: center;
    border-width: 3px;
    border-radius: 10px;
}

.WorkoutLabel {
    font-size: 2rem;
    margin: 10px;
    font-family: "BBH Bogle", system-ui;
    font-weight: 385;
}

#MeasureUnitContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#UnitSelect {
    width: 65px;
    height: 50%;
    font-size: 1.5rem;
}

#CalculateButton {
    position: relative;
    display: block;
    width: clamp(200px, 60vw, 625px);
    aspect-ratio: 5/1;
    background-color: #6898cd;
    border-width: 6px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.75rem;
    font-family: "BBH Bogle", system-ui;
    font-weight: 400;;
    transition: transform 0.1s ease, background-color 0.1s ease;
    cursor: pointer;
}

#CalculateButton:active {
    transform: scale(0.935);
    background-color: #4a6c92;
}

#CalculateButton:hover:not(:active) {
    transform: scale(1.07);
    background-color: #86aed9;
}

.BuildUpText {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.Result {
    text-align: center;
    font-size: clamp(1.5rem, 17vw, 4rem);
    margin-top: -15px;
    margin-bottom: 15px;
    font-family: "BBH Bogle", system-ui;
    font-weight: 400;
}

#OneRMResult {
    margin-bottom: 30px;
}

#CreditText {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: 0;
    font-family: "Faustina", serif;
    font-weight: normal;
}